# exercise with pandas

every "..." should be replaced with a line of code

In [1]:
from __future__  import print_function, division
import pylab as pl
import pandas as pd
import numpy as np

In [7]:
import os
print("PUIdata", os.getenv("PUIDATA"))

PUIdata /nfshome/yc3763/PUIdata

In [11]:
os.environ["PUIDATA"] = "%s/PUIdata"%os.getenv("HOME")
print("PUIdata", os.getenv("PUIDATA"))

PUIdata /nfshome/yc3763/PUIdata

In [12]:
#! curl -O https://www1.nyc.gov/assets/planning/download/zip/data-maps/open-data/nyc_pluto_18v1.zip
#! mv nyc_pluto_18v1.zip $PUIDATA
#! unzip $PUIDATA/nyc_pluto_18v1.zip
#! mv PLUTO_for_WEB $PUIDATA

In [14]:
MN = pd.read_csv(os.getenv("PUIDATA") + '/PLUTO_for_WEB/MN_18v1.csv')
BK = pd.read_csv(os.getenv("PUIDATA") + '/PLUTO_for_WEB/BK_18v1.csv')

/usr/local/Anaconda3-5.0.0-Linux-x86_64/envs/PUI2016_Python3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (20,23,24,26,64) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/Anaconda3-5.0.0-Linux-x86_64/envs/PUI2016_Python3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (19,20,22,23,24,25,26,64,65,80) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Read what the PLUTO data is [here](https://www.wired.com/2013/08/nyc-pluto-data-map-party/)

Find the PLUTO dataset online, find the cvs file data (not the shape file), it should be about 46M

Download it as a zip file, unpack it in PUIDATAEach borough will be in a different file. The goal is to find land plot categories of which there is a higher number in Manhattan (MN) than in Brooklyn (BK)

Read in csv data as pandas dataframes (with pd.read_csv() )

In a Pandas DataFrame each column is a _series_ (a pandas datatype) to manipulate the data here you will mostly use methods (functions that are defined for a specific datatype and invoked with the _object.method()_ syntax) of the DataFrames (e.g. df.groupby() ) or of the series therein (e.g. series.astype() )

# read in te Manhattan and Brooklyn data in 2 separate dataframes w pandas

## show the first 10 lines of each df

In [15]:
# show manhattan 10 rows
MN.head(10)

,Borough,Block,Lot,CD,CT2010,CB2010,SchoolDist,Council,ZipCode,FireComp,...,ZMCode,Sanborn,TaxMap,EDesigNum,APPBBL,APPDate,PLUTOMapID,FIRM07_Flag,PFIRM15_Flag,Version
0,MN,1,10,101,5.0,1011.0,2.0,1.0,10004.0,E007,...,Y,199 999,10101.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1
1,MN,1,101,101,1.0,1001.0,2.0,1.0,10004.0,E007,...,Y,199 999,10101.0,NaN,0.000000e+00,NaN,1,NaN,1.0,18V1
2,MN,1,201,101,1.0,1000.0,2.0,1.0,10004.0,E007,...,NaN,199 999,10101.0,NaN,0.000000e+00,NaN,1,NaN,1.0,18V1
3,MN,1,301,101,NaN,NaN,2.0,1.0,10004.0,E007,...,NaN,199 999,10101.0,NaN,0.000000e+00,NaN,4,1.0,1.0,18V1
4,MN,1,401,101,NaN,NaN,2.0,1.0,10004.0,E007,...,NaN,1 99 999,10101.0,NaN,0.000000e+00,NaN,4,1.0,1.0,18V1
5,MN,2,1,101,9.0,1025.0,2.0,1.0,10004.0,L015,...,NaN,101N100,10101.0,NaN,1.000020e+09,08/07/2012,1,1.0,1.0,18V1
6,MN,2,2,101,9.0,1025.0,2.0,1.0,10004.0,L015,...,NaN,11N 100,10101.0,NaN,1.000020e+09,08/07/2012,1,1.0,1.0,18V1
7,MN,2,3,101,9.0,NaN,2.0,1.0,10004.0,L015,...,NaN,101N100,10101.0,NaN,1.000020e+09,08/07/2012,1,1.0,1.0,18V1
8,MN,2,23,101,9.0,1025.0,2.0,1.0,10004.0,L015,...,NaN,101N100,10101.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1
9,MN,3,1,101,319.0,1000.0,2.0,1.0,10004.0,L015,...,NaN,101S087,10101.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1

In [16]:
# show brooklyn 10 rows
BK.head(10)

,Borough,Block,Lot,CD,CT2010,CB2010,SchoolDist,Council,ZipCode,FireComp,...,ZMCode,Sanborn,TaxMap,EDesigNum,APPBBL,APPDate,PLUTOMapID,FIRM07_FLAG,PFIRM15_FLAG,Version
0,BK,1,1,302,21.0,NaN,13.0,33.0,11201.0,L118,...,NaN,302 007,30101.0,NaN,3.000010e+09,11/26/2013,1,1.0,1.0,18V1
1,BK,1,50,302,21.0,2000.0,13.0,33.0,11201.0,L118,...,NaN,302 007,30101.0,E-231,0.000000e+00,NaN,1,1.0,1.0,18V1
2,BK,1,7501,302,21.0,2000.0,13.0,33.0,11201.0,L118,...,NaN,302 007,30101.0,NaN,3.000010e+09,03/04/2016,1,1.0,1.0,18V1
3,BK,3,1,302,21.0,3002.0,13.0,33.0,11201.0,L118,...,NaN,302 007,30101.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1
4,BK,3,5,302,21.0,NaN,13.0,33.0,11201.0,L118,...,NaN,302 007,30101.0,NaN,0.000000e+00,NaN,4,1.0,1.0,18V1
5,BK,3,35,302,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,302 007,3.0,NaN,NaN,NaN,5,NaN,NaN,18V1
6,BK,5,1,302,21.0,3001.0,13.0,33.0,11201.0,L118,...,NaN,302 008,30101.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1
7,BK,5,8,302,21.0,NaN,13.0,33.0,11201.0,L118,...,NaN,300 000,30101.0,NaN,0.000000e+00,NaN,4,1.0,1.0,18V1
8,BK,6,1,302,21.0,3000.0,13.0,33.0,11201.0,E207,...,NaN,302 009,30101.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1
9,BK,6,10,302,21.0,NaN,13.0,33.0,11201.0,E207,...,NaN,302 009,30101.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1

## display all columns in each file

In [17]:
# show bk
BK.columns

Index(['Borough', 'Block', 'Lot', 'CD', 'CT2010', 'CB2010', 'SchoolDist',
       'Council', 'ZipCode', 'FireComp', 'PolicePrct', 'HealthCenterDistrict',
       'HealthArea', 'SanitBoro', 'SanitDistrict', 'SanitSub', 'Address',
       'ZoneDist1', 'ZoneDist2', 'ZoneDist3', 'ZoneDist4', 'Overlay1',
       'Overlay2', 'SPDist1', 'SPDist2', 'SPDist3', 'LtdHeight', 'SplitZone',
       'BldgClass', 'LandUse', 'Easements', 'OwnerType', 'OwnerName',
       'LotArea', 'BldgArea', 'ComArea', 'ResArea', 'OfficeArea', 'RetailArea',
       'GarageArea', 'StrgeArea', 'FactryArea', 'OtherArea', 'AreaSource',
       'NumBldgs', 'NumFloors', 'UnitsRes', 'UnitsTotal', 'LotFront',
       'LotDepth', 'BldgFront', 'BldgDepth', 'Ext', 'ProxCode', 'IrrLotCode',
       'LotType', 'BsmtCode', 'AssessLand', 'AssessTot', 'ExemptLand',
       'ExemptTot', 'YearBuilt', 'YearAlter1', 'YearAlter2', 'HistDist',
       'Landmark', 'BuiltFAR', 'ResidFAR', 'CommFAR', 'FacilFAR', 'BoroCode',
       'BBL', 'CondoNo', 'Tract2010', 'XCoord', 'YCoord', 'ZoneMap', 'ZMCode',
       'Sanborn', 'TaxMap', 'EDesigNum', 'APPBBL', 'APPDate', 'PLUTOMapID',
       'FIRM07_FLAG', 'PFIRM15_FLAG', 'Version'],
      dtype='object')

In [18]:
# show mn
MN.columns

Index(['Borough', 'Block', 'Lot', 'CD', 'CT2010', 'CB2010', 'SchoolDist',
       'Council', 'ZipCode', 'FireComp', 'PolicePrct', 'HealthCenterDistrict',
       'HealthArea', 'SanitBoro', 'SanitDistrict', 'SanitSub', 'Address',
       'ZoneDist1', 'ZoneDist2', 'ZoneDist3', 'ZoneDist4', 'Overlay1',
       'Overlay2', 'SPDist1', 'SPDist2', 'SPDist3', 'LtdHeight', 'SplitZone',
       'BldgClass', 'LandUse', 'Easements', 'OwnerType', 'OwnerName',
       'LotArea', 'BldgArea', 'ComArea', 'ResArea', 'OfficeArea', 'RetailArea',
       'GarageArea', 'StrgeArea', 'FactryArea', 'OtherArea', 'AreaSource',
       'NumBldgs', 'NumFloors', 'UnitsRes', 'UnitsTotal', 'LotFront',
       'LotDepth', 'BldgFront', 'BldgDepth', 'Ext', 'ProxCode', 'IrrLotCode',
       'LotType', 'BsmtCode', 'AssessLand', 'AssessTot', 'ExemptLand',
       'ExemptTot', 'YearBuilt', 'YearAlter1', 'YearAlter2', 'HistDist',
       'Landmark', 'BuiltFAR', 'ResidFAR', 'CommFAR', 'FacilFAR', 'BoroCode',
       'BBL', 'CondoNo', 'Tract2010', 'XCoord', 'YCoord', 'ZoneMap', 'ZMCode',
       'Sanborn', 'TaxMap', 'EDesigNum', 'APPBBL', 'APPDate', 'PLUTOMapID',
       'FIRM07_Flag', 'PFIRM15_Flag', 'Version'],
      dtype='object')

# drop all columns but ZipCode and LandUse

In [19]:
# drop columns here. Use the .drop method of pandas dataframes, i.e. something like bk.drop()... 
# make sure you drop "in place" and that you drop along the right axis - i.e. the columns. 
# you can use bk.drop? to the help with this function 
mn = MN.drop(['Block', 'Lot', 'CD', 'CT2010', 'CB2010', 'SchoolDist', 'Council',
        'FireComp', 'PolicePrct', 'HealthCenterDistrict',
       'HealthArea', 'SanitBoro', 'SanitDistrict', 'SanitSub', 'Address',
       'ZoneDist1'], axis=1)
mn.head()

,Borough,ZipCode,ZoneDist2,ZoneDist3,ZoneDist4,Overlay1,Overlay2,SPDist1,SPDist2,SPDist3,...,ZMCode,Sanborn,TaxMap,EDesigNum,APPBBL,APPDate,PLUTOMapID,FIRM07_Flag,PFIRM15_Flag,Version
0,MN,10004.0,NaN,NaN,NaN,NaN,NaN,GI,NaN,NaN,...,Y,199 999,10101.0,NaN,0.0,NaN,1,1.0,1.0,18V1
1,MN,10004.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Y,199 999,10101.0,NaN,0.0,NaN,1,NaN,1.0,18V1
2,MN,10004.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,199 999,10101.0,NaN,0.0,NaN,1,NaN,1.0,18V1
3,MN,10004.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,199 999,10101.0,NaN,0.0,NaN,4,1.0,1.0,18V1
4,MN,10004.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1 99 999,10101.0,NaN,0.0,NaN,4,1.0,1.0,18V1

In [20]:
# drop columns here...
bk = BK.drop([u'Block', u'Lot', u'CD', u'CT2010', u'CB2010', u'SchoolDist',
       u'Council',  u'FireComp', u'PolicePrct',
       u'HealthCenterDistrict', u'HealthArea', u'SanitBoro', u'SanitDistrict',
       u'SanitSub', u'Address', u'ZoneDist1', u'ZoneDist2', u'ZoneDist3',
       u'ZoneDist4', u'Overlay1', u'Overlay2', u'SPDist1', u'SPDist2',
       u'SPDist3', u'LtdHeight', u'SplitZone', u'BldgClass', 
       u'Easements', u'OwnerType', u'OwnerName', u'LotArea', u'BldgArea',
       u'ComArea', u'ResArea', u'OfficeArea', u'RetailArea', u'GarageArea',
       u'StrgeArea', u'FactryArea', u'OtherArea', u'AreaSource', u'NumBldgs',
       u'NumFloors', u'UnitsRes', u'UnitsTotal', u'LotFront', u'LotDepth',
       u'BldgFront', u'BldgDepth', u'Ext', u'ProxCode', u'IrrLotCode',
       u'LotType', u'BsmtCode', u'AssessLand', u'AssessTot', u'ExemptLand',
       u'ExemptTot', u'YearBuilt', u'YearAlter1', u'YearAlter2', u'HistDist',
       u'Landmark', u'BuiltFAR', u'ResidFAR', u'CommFAR', u'FacilFAR',
       u'BoroCode', u'BBL', u'CondoNo', u'Tract2010', u'XCoord', u'YCoord',
       u'ZoneMap', u'ZMCode', u'Sanborn', u'TaxMap', u'EDesigNum', u'APPBBL',
       u'APPDate', u'PLUTOMapID', u'FIRM07_FLAG', u'PFIRM15_FLAG', u'Version'], axis=1)

bk.head()

  Borough  ZipCode  LandUse
0      BK  11201.0     11.0
1      BK  11201.0      5.0
2      BK  11201.0      4.0
3      BK  11201.0      7.0
4      BK  11201.0      7.0

# use groupby to count the building per LandUse code

In [21]:
# group Manhattan by land use. Make sure you understand how to use the groupby() method:
# this method returns a group object. those objects have methods and some of these methods return dataframes. 
# What do you want to do? you want to count all objects per each land use type. 
# So you want to use .groupby() to group by LandUse and then .count() to get the number of element per LandUse
# Other methods include .mean() to get the mean of a group, .std(), 
# and a generic method .apply() to which you can pass any function that operates on a column.
# All these methods return dataframes 
# (hint: use also reset_index) for each df
mngrouped = mn.groupby("LandUse").count().reset_index()
mngrouped

,LandUse,Borough,ZipCode,ZoneDist2,ZoneDist3,ZoneDist4,Overlay1,Overlay2,SPDist1,SPDist2,...,ZMCode,Sanborn,TaxMap,EDesigNum,APPBBL,APPDate,PLUTOMapID,FIRM07_Flag,PFIRM15_Flag,Version
0,1.0,4019,4019,177,0,0,203,0,179,0,...,85,4016,4016,31,4019,139,4019,43,76,4019
1,2.0,16246,16246,659,6,0,2440,0,1610,4,...,302,16213,16213,217,16246,1067,16246,402,724,16246
2,3.0,4881,4881,796,22,1,442,6,761,9,...,148,4855,4855,97,4881,678,4881,171,269,4881
3,4.0,7238,7238,732,27,1,1456,8,1980,7,...,149,7180,7180,438,7238,2019,7238,378,507,7238
4,5.0,4465,4465,647,20,1,384,1,2043,19,...,102,4446,4446,495,4465,603,4465,239,302,4465
5,6.0,726,726,57,1,0,35,0,242,0,...,21,720,720,131,726,34,726,58,74,726
6,7.0,418,386,43,2,0,50,1,125,1,...,41,409,409,40,418,17,418,162,177,418
7,8.0,2456,2456,320,15,2,359,0,424,3,...,80,2450,2450,159,2456,281,2456,100,153,2456
8,9.0,445,434,25,1,0,29,1,23,0,...,33,441,441,9,445,35,445,106,127,445
9,10.0,682,679,47,0,0,67,0,157,1,...,25,678,678,167,682,57,682,95,114,682
10,11.0,1257,1199,74,4,0,180,1,256,1,...,14,1200,1200,146,1257,240,1257,174,209,1257

In [22]:
# group BK by land use
bkgrouped = bk.groupby("LandUse").count().reset_index()
bkgrouped

    LandUse  Borough  ZipCode
0       1.0   156342   156271
1       2.0    66358    66358
2       3.0     3437     3437
3       4.0    22515    22515
4       5.0     5743     5743
5       6.0     4436     4434
6       7.0     1096     1040
7       8.0     4330     4330
8       9.0      918      872
9      10.0     4253     4229
10     11.0     6516     6298

# convert the landuse to integer

In [23]:
# convert LandUse to int using the .astype() method of the series
bkgrouped.astype(int)
bkgrouped.head()

   LandUse  Borough  ZipCode
0      1.0   156342   156271
1      2.0    66358    66358
2      3.0     3437     3437
3      4.0    22515    22515
4      5.0     5743     5743

In [24]:
mngrouped.astype(int)
mngrouped.head()

,LandUse,Borough,ZipCode,ZoneDist2,ZoneDist3,ZoneDist4,Overlay1,Overlay2,SPDist1,SPDist2,...,ZMCode,Sanborn,TaxMap,EDesigNum,APPBBL,APPDate,PLUTOMapID,FIRM07_Flag,PFIRM15_Flag,Version
0,1.0,4019,4019,177,0,0,203,0,179,0,...,85,4016,4016,31,4019,139,4019,43,76,4019
1,2.0,16246,16246,659,6,0,2440,0,1610,4,...,302,16213,16213,217,16246,1067,16246,402,724,16246
2,3.0,4881,4881,796,22,1,442,6,761,9,...,148,4855,4855,97,4881,678,4881,171,269,4881
3,4.0,7238,7238,732,27,1,1456,8,1980,7,...,149,7180,7180,438,7238,2019,7238,378,507,7238
4,5.0,4465,4465,647,20,1,384,1,2043,19,...,102,4446,4446,495,4465,603,4465,239,302,4465

# merge the dataframes on land use

In [25]:
# merge the dataframes on LandUse. You can use the pandas function merge ( _pd.merge)
merge= pd.merge(mngrouped, bkgrouped, on="LandUse", suffixes=('_x', '_y'), )
merge.columns

Index(['LandUse', 'Borough_x', 'ZipCode_x', 'ZoneDist2', 'ZoneDist3',
       'ZoneDist4', 'Overlay1', 'Overlay2', 'SPDist1', 'SPDist2', 'SPDist3',
       'LtdHeight', 'SplitZone', 'BldgClass', 'Easements', 'OwnerType',
       'OwnerName', 'LotArea', 'BldgArea', 'ComArea', 'ResArea', 'OfficeArea',
       'RetailArea', 'GarageArea', 'StrgeArea', 'FactryArea', 'OtherArea',
       'AreaSource', 'NumBldgs', 'NumFloors', 'UnitsRes', 'UnitsTotal',
       'LotFront', 'LotDepth', 'BldgFront', 'BldgDepth', 'Ext', 'ProxCode',
       'IrrLotCode', 'LotType', 'BsmtCode', 'AssessLand', 'AssessTot',
       'ExemptLand', 'ExemptTot', 'YearBuilt', 'YearAlter1', 'YearAlter2',
       'HistDist', 'Landmark', 'BuiltFAR', 'ResidFAR', 'CommFAR', 'FacilFAR',
       'BoroCode', 'BBL', 'CondoNo', 'Tract2010', 'XCoord', 'YCoord',
       'ZoneMap', 'ZMCode', 'Sanborn', 'TaxMap', 'EDesigNum', 'APPBBL',
       'APPDate', 'PLUTOMapID', 'FIRM07_Flag', 'PFIRM15_Flag', 'Version',
       'Borough_y', 'ZipCode_y'],
      dtype='object')

# rename things so that you have descriptive names

## rename the columns with descriptive names.

In [26]:
# Use the df.rename() method (hint: it takes a dictionary)
# now you can just call "both" instead of "both.head()" since the file should only have 11 columns
both = merge.rename(columns={'ZipCode_x':'zipcode_mn','ZipCode_y':'zipcode_bk'})
both

,LandUse,Borough_x,zipcode_mn,ZoneDist2,ZoneDist3,ZoneDist4,Overlay1,Overlay2,SPDist1,SPDist2,...,TaxMap,EDesigNum,APPBBL,APPDate,PLUTOMapID,FIRM07_Flag,PFIRM15_Flag,Version,Borough_y,zipcode_bk
0,1.0,4019,4019,177,0,0,203,0,179,0,...,4016,31,4019,139,4019,43,76,4019,156342,156271
1,2.0,16246,16246,659,6,0,2440,0,1610,4,...,16213,217,16246,1067,16246,402,724,16246,66358,66358
2,3.0,4881,4881,796,22,1,442,6,761,9,...,4855,97,4881,678,4881,171,269,4881,3437,3437
3,4.0,7238,7238,732,27,1,1456,8,1980,7,...,7180,438,7238,2019,7238,378,507,7238,22515,22515
4,5.0,4465,4465,647,20,1,384,1,2043,19,...,4446,495,4465,603,4465,239,302,4465,5743,5743
5,6.0,726,726,57,1,0,35,0,242,0,...,720,131,726,34,726,58,74,726,4436,4434
6,7.0,418,386,43,2,0,50,1,125,1,...,409,40,418,17,418,162,177,418,1096,1040
7,8.0,2456,2456,320,15,2,359,0,424,3,...,2450,159,2456,281,2456,100,153,2456,4330,4330
8,9.0,445,434,25,1,0,29,1,23,0,...,441,9,445,35,445,106,127,445,918,872
9,10.0,682,679,47,0,0,67,0,157,1,...,678,167,682,57,682,95,114,682,4253,4229
10,11.0,1257,1199,74,4,0,180,1,256,1,...,1200,146,1257,240,1257,174,209,1257,6516,6298

## find online the LandUse data dictionary and replace code w the verbose description of it

In [27]:
# set up Land Use values to descriptive tag
landuse_rename = both.replace([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11], ['01 One &Two Family Buildings', '02 Multi-Family Walk-Up Buildings', '03 Multi-Family Elevator Buildings', '04 Mixed Residential & Commercial Buildings', '05 Commercial & Office Buildings','06 Industrial & Manufacturing', '07 Transportation & Utility', '08 Public Facilities & Institutions','09 Open Space & Outdoor Recreation','10 Parking Facilities','11 Vacant Land'])
landuse_rename

,LandUse,Borough_x,zipcode_mn,ZoneDist2,ZoneDist3,ZoneDist4,Overlay1,Overlay2,SPDist1,SPDist2,...,TaxMap,EDesigNum,APPBBL,APPDate,PLUTOMapID,FIRM07_Flag,PFIRM15_Flag,Version,Borough_y,zipcode_bk
0,01 One &Two Family Buildings,4019,4019,177,0,0,203,0,179,0,...,4016,31,4019,139,4019,43,76,4019,156342,156271
1,02 Multi-Family Walk-Up Buildings,16246,16246,659,06 Industrial & Manufacturing,0,2440,0,1610,04 Mixed Residential & Commercial Buildings,...,16213,217,16246,1067,16246,402,724,16246,66358,66358
2,03 Multi-Family Elevator Buildings,4881,4881,796,22,01 One &Two Family Buildings,442,06 Industrial & Manufacturing,761,09 Open Space & Outdoor Recreation,...,4855,97,4881,678,4881,171,269,4881,3437,3437
3,04 Mixed Residential & Commercial Buildings,7238,7238,732,27,01 One &Two Family Buildings,1456,08 Public Facilities & Institutions,1980,07 Transportation & Utility,...,7180,438,7238,2019,7238,378,507,7238,22515,22515
4,05 Commercial & Office Buildings,4465,4465,647,20,01 One &Two Family Buildings,384,01 One &Two Family Buildings,2043,19,...,4446,495,4465,603,4465,239,302,4465,5743,5743
5,06 Industrial & Manufacturing,726,726,57,01 One &Two Family Buildings,0,35,0,242,0,...,720,131,726,34,726,58,74,726,4436,4434
6,07 Transportation & Utility,418,386,43,02 Multi-Family Walk-Up Buildings,0,50,01 One &Two Family Buildings,125,01 One &Two Family Buildings,...,409,40,418,17,418,162,177,418,1096,1040
7,08 Public Facilities & Institutions,2456,2456,320,15,02 Multi-Family Walk-Up Buildings,359,0,424,03 Multi-Family Elevator Buildings,...,2450,159,2456,281,2456,100,153,2456,4330,4330
8,09 Open Space & Outdoor Recreation,445,434,25,01 One &Two Family Buildings,0,29,01 One &Two Family Buildings,23,0,...,441,09 Open Space & Outdoor Recreation,445,35,445,106,127,445,918,872
9,10 Parking Facilities,682,679,47,0,0,67,0,157,01 One &Two Family Buildings,...,678,167,682,57,682,95,114,682,4253,4229
10,11 Vacant Land,1257,1199,74,04 Mixed Residential & Commercial Buildings,0,180,01 One &Two Family Buildings,256,01 One &Two Family Buildings,...,1200,146,1257,240,1257,174,209,1257,6516,6298

# create a feature (a column, a series) with the ratio of number of buildings in BK vs MN and find out in which LandUse class Manhattan has more buildings than BK

In [28]:
# calculate the ratio of BK to Man buildings per LandUse category
landuse_rename['luratio'] = both.zipcode_mn / both.zipcode_bk 
landuse_rename

,LandUse,Borough_x,zipcode_mn,ZoneDist2,ZoneDist3,ZoneDist4,Overlay1,Overlay2,SPDist1,SPDist2,...,EDesigNum,APPBBL,APPDate,PLUTOMapID,FIRM07_Flag,PFIRM15_Flag,Version,Borough_y,zipcode_bk,luratio
0,01 One &Two Family Buildings,4019,4019,177,0,0,203,0,179,0,...,31,4019,139,4019,43,76,4019,156342,156271,0.025718
1,02 Multi-Family Walk-Up Buildings,16246,16246,659,06 Industrial & Manufacturing,0,2440,0,1610,04 Mixed Residential & Commercial Buildings,...,217,16246,1067,16246,402,724,16246,66358,66358,0.244824
2,03 Multi-Family Elevator Buildings,4881,4881,796,22,01 One &Two Family Buildings,442,06 Industrial & Manufacturing,761,09 Open Space & Outdoor Recreation,...,97,4881,678,4881,171,269,4881,3437,3437,1.420134
3,04 Mixed Residential & Commercial Buildings,7238,7238,732,27,01 One &Two Family Buildings,1456,08 Public Facilities & Institutions,1980,07 Transportation & Utility,...,438,7238,2019,7238,378,507,7238,22515,22515,0.321475
4,05 Commercial & Office Buildings,4465,4465,647,20,01 One &Two Family Buildings,384,01 One &Two Family Buildings,2043,19,...,495,4465,603,4465,239,302,4465,5743,5743,0.777468
5,06 Industrial & Manufacturing,726,726,57,01 One &Two Family Buildings,0,35,0,242,0,...,131,726,34,726,58,74,726,4436,4434,0.163735
6,07 Transportation & Utility,418,386,43,02 Multi-Family Walk-Up Buildings,0,50,01 One &Two Family Buildings,125,01 One &Two Family Buildings,...,40,418,17,418,162,177,418,1096,1040,0.371154
7,08 Public Facilities & Institutions,2456,2456,320,15,02 Multi-Family Walk-Up Buildings,359,0,424,03 Multi-Family Elevator Buildings,...,159,2456,281,2456,100,153,2456,4330,4330,0.567206
8,09 Open Space & Outdoor Recreation,445,434,25,01 One &Two Family Buildings,0,29,01 One &Two Family Buildings,23,0,...,09 Open Space & Outdoor Recreation,445,35,445,106,127,445,918,872,0.497706
9,10 Parking Facilities,682,679,47,0,0,67,0,157,01 One &Two Family Buildings,...,167,682,57,682,95,114,682,4253,4229,0.160558
10,11 Vacant Land,1257,1199,74,04 Mixed Residential & Commercial Buildings,0,180,01 One &Two Family Buildings,256,01 One &Two Family Buildings,...,146,1257,240,1257,174,209,1257,6516,6298,0.190378

In [29]:
# defined function that returns True if the ratio is larger than 0, False otherwise. 
# Use the series.apply() method to apply that function to the luratio series you jusrt created

def function_a(k):
    if k > 1:
        print('TRUE')
    else:
        print('FALSE')
        
landuse_rename['luratio'].apply(function_a)

FALSE
FALSE
TRUE
FALSE
FALSE
FALSE
FALSE
FALSE
FALSE
FALSE
FALSE

0     None
1     None
2     None
3     None
4     None
5     None
6     None
7     None
8     None
9     None
10    None
Name: luratio, dtype: object

# comment on what you found out. Does it make sense?

Based on calculation on the ratio of Brooklyn to Manhattan buildings per LandUse category, only the Multi-Family Elevator Buildings has a higher percentage in Manhattan than Brooklyn. I feel it makes sense because multi-family elevator buildings are normally a luxury building that has a higher price. And residences who live in Manhattan are having higher average income than those who live in Brooklyn.